@yellow: #FFF500;
@pink: #FF6969;
@light-blue: #7986FE;

@bg-color: #FFFFFF;
@dark-grey: #202027;
@medium-grey: #747474;
@light-grey: #A3A3A3;
@intermediate-grey: #686868;



@small-desktops: ~'(max-width: 1000px)';
@tablets: ~'(max-width:769px)';
@smartphones: ~'(max-width: 480px)';